.section {
    padding: 2rem 2rem;
}

.section-cards {
    padding: 2rem 2rem;
    background-color: #ECF0F1;
}

.logo {
    height: 62px !important;
}

.img-home {
    /* min-height: 100vh;
    width: 100vw; */
}

/* CARDS */

.card {
   
}

.title-card {
    display: flex;
    justify-content: center;
}

.card-container {
    padding: 2vw !important;
}

.card-image {
    position: relative;
}

#color-public {
    height: 6px;
    background-color: darkcyan;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#color-prive {
    height: 6px;
    background-color: orange;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#color-conseil {
    height: 6px;
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-prive {
    color: orange !important;
}

.title-public {
background-color: darkcyan !important;
}

.title-conseil {
    color: green !important;
}

.index-text {
    width: 100%;
    padding: 0 20vw;
}

.index-text p {
    text-align: center;
    font-size: 1.2vw;
    color: #677179;
}

.card-reveal p {
    text-align: justify;
}




/* HEADER */
.white {
    background-color: #006518 !important; 
    /* position: fixed !important;
    top:0px; 
    background: rgba(0, 0, 0, 0.2) !important;
    z-index: 150;  */
}

.nav-wrapper {

}

li a {
   /* color: #3B3A3A !important; */
}

li:hover {
    background-color: #008135 !important;
}

li a:hover {
    color: #ffffff !important;
}

.sidenav-trigger {
   color: #008135 !important;
}



/* parallax */

/* .btn-large {
    background-color:  !important;
} */

/* .parallax-title {
    color:  !important;
} */

.parallax-text {
    color: white !important;
}

#download-button:hover {
    background-color: #008135 !important;
}

/* ICON PART */

.icon-color {
    color: #009C89;
}

.icon-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.icon-block p {
    font-size: 22px !important;
}

.icon-block h5 {
    font-size: 29px !important;
}

.picto-container {
    margin: 30px auto;

}

.section-picto {

}

.light {
    text-align: center;
}

.icon-container {
    padding: 3vw !important;
}

.text-histo {
    text-align: justify;
    width: 100%;
    padding: 0 20vw;
}

.image-part {
    
}

.image-wrapper {
    height: 30vw;
    /*margin-left: 2vw;*/
}

.image-wrapper img {
    height: 100%;
    width: 100%;
}

.text-part {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.text-part p {
    padding: 0vw 4vw;
    text-align: justify;
}

.section-about {
    background-color: #ECF0F1;
}

.line {
    /*padding: 2vw 0vw;*/
}







/* ABOUT */





/* footer */

/* .footer-copyright {
    background-color: #00721C !important;
}

.footer-content {
    background-color: #006518;
} */




